@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  color: #161c2d;
}

h1 {
  font-size: 5em;
  font-weight: 900;
  line-height: 1em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.4em;
}

p,
ul,
li,
a {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 2em;
}

.land-background {
  background: linear-gradient(rgb(26, 74, 95), rgb(123, 186, 58, 0.8)),url('./assets/office.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90% 90%;
  background-attachment: fixed;
}

.land2-background {
  background: linear-gradient(rgb(26, 74, 95), rgb(123, 186, 58, 0.8)),url('./assets/nbh.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.news-box {
  background-image: url("./assets/lineart.png");
  background-color: #002559;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 700px) {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 3.5em;
  }
  .land-background {
    background-attachment: scroll;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}